
.event-name {
    margin-top: 25px;
    margin-bottom: 25px;
}

.track-details {
    margin-top: 30px;
}

.track-details img {
    max-height: 40%;
    width: auto;
    max-width: 100%;
}

.event-name > .bp3-editable-text {
    line-height: 50px;
}

.event-editor {
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 5%;
}

.sessions {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
}

.sessions_Session {
    width: 100%;
    margin-bottom: 25px;
}
